//
// MIXINS
//


@mixin selection($area, $color){
	#{$area} h1::selection,
	#{$area} h2::selection,
	#{$area} h3::selection,
	#{$area} p::selection,
	#{$area} a::selection,
	#{$area} span::selection {
		background-color: $color;
		color: white;
	}

	#{$area} h1::-moz-selection,
	#{$area} h2::-moz-selection,
	#{$area} h3::-moz-selection,
	#{$area} p::-moz-selection,
	#{$area} a::-moz-selection,
	#{$area} span::-moz-selection {
		background-color: $color;
		color: white;
	}	
}