////////////
///// COLORS
////////////

//General
$dark-text: #4c4c4c;
$light-text: rgba(255,255,255,0.9);
$mobile-light-text: #E3E3E3;
$body-background: #FCFCFC;
$body-background-dark: #002030;

//Location specific
$intro-text-blue: #174465;
$persian-green: #59BDB6;
$purple: #79687B;
$slider-green: #5A7282;

//Social area
$corporate-blue: #2C97DE;

$linkedin-blue: $corporate-blue;
$linkedin-blue-hover: #2865BE;
$twitter-blue: #01A9F4;
$twitter-blue-hover: #2865BE;
$github-grey: #777;
$github-grey-hover: #474A59;
$behance-blue: #0B94E3;
$behance-blue-hover: #00507F;
$codepen-orange:#F06D06;

//Text selection
$satifs-lilac: #C4A9ED;
$scoodle-red: #D56969;
$ucl-yellow: #EDB441;
$safar-green: $persian-green;
$cc-green: $persian-green;
$about-blue: #91CCE4;
